body {
  font-family: 'Lato', serif;
  background: rgb(46, 45, 41);
  color: rgba(253, 213, 136, 0.62);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 10vw;
  width: 38vw;
}
